<a href="https://colab.research.google.com/github/samwang920607/Introduction-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("123")

123

In [2]:
i = range(5)

In [3]:
print(type(i))

<class 'range'>

In [4]:
print(i)

range(0, 5)

In [5]:
print(list(i))

[0, 1, 2, 3, 4]

In [7]:
a = range(3, 8)
print(list(a))

[3, 4, 5, 6, 7]

In [8]:
b = range(-2, 4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [10]:
c = range(3, 8)
print(list(c))

[3, 4, 5, 6, 7]

In [11]:
f = range(9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
g = range(1, 10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
h = range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [14]:
i = range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [17]:
for n in range(3):
    print(n)

0
1
2

In [19]:
for n in range(10):
    print(n, end=",")

0,1,2,3,4,5,6,7,8,9,

In [21]:
for n in range(0,10,2):
    print(n, end=",")

0,2,4,6,8,

In [22]:
test = int(input("請輸入一個正整數"))
for m in range(1, test+1):
  print(m, end = " ")

請輸入一個正整數12
1 2 3 4 5 6 7 8 9 10 11 12

In [25]:
sum = 0
for n in range(3):
    sum = sum+n
print(sum)

3

In [27]:
sum = 0
for n in range(10,1,-2):
  sum = sum+n
print(sum)

30

In [31]:
test = int(input("請輸入一個正整數"))

sum = 0
for n in range(1, test+1):
 sum = sum+n
 print(sum)

請輸入一個正整數10
1
3
6
10
15
21
28
36
45
55

In [32]:
test = int(input("請輸入一個正整數"))

sum = 0
for n in range(1, test+1):
 sum = sum+n
 print(sum)

請輸入一個正整數50
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275